<div class="comment-editor" *ngIf="user$ | async as user">
    <img [src]="user.photoURL ?? 'assets/images/png-transparent-default-avatar.png'" alt="Profile Picture">
    <textarea matInput [ngModel]="commentText" (ngModelChange)="updateCommentText($event)" 
    maxlength="250" (input)="updateCharacterCount()" placeholder="Type your comment here."></textarea>
    <div class="send-button">
        <button mat-mini-fab (click)="comment();">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>