<div class="rp-container">
    <!--Recommended Profile Header-->
    <div class="rp-user-profile" [style.backgroundImage]="backgroundImageUrl ? 'url(' + backgroundImageUrl + ')' : ''">
        <div class="user-identity">
            <img [src]="profileImageUrl" alt="Profile Picture"/>
            <h1><b><a [routerLink]="['/profile', recommendedUser?.username]" style="text-decoration: none; color: white;">
            {{ recommendedUser?.username }}</a></b> 
            <br><div style="font-size: 18px;">
            Followers: {{ recommendedUser?.followerCount ?? 0 }}</div></h1>     
        </div>
        <div class="user-bio">
            <h1>Bio: </h1>
            <p>{{ recommendedUser?.bio || 'No Bio available.' }}</p>
        </div>
    </div>
    <!--Featured Posts from Selected Profile-->
    <div class="rp-user-posts">

    </div>
</div>
