<div style="border-top: 1px solid rgba(148, 163, 184, 0.35); border-bottom: 1px solid rgba(148, 163, 184, 0.35);">
<div class="rp-container">
  <!--Recommended Profile Header-->
  <div class="rp-user-profile" [style.backgroundImage]="backgroundImageUrl ? 'url(' + backgroundImageUrl + ')' : ''">
    <div class="user-identity">
      <img [src]="profileImageUrl" alt="Profile Picture"/>
      <h1><b><a [routerLink]="['/profile', recommendedUser?.username]" style="text-decoration: none; color: white;">
      {{ recommendedUser?.username }}</a></b>
      <br><div style="font-size: 18px;">
    Followers: {{ recommendedUser?.followerCount ?? 0 }}</div></h1>
  </div>
  <div class="user-bio">
    <h1>Bio: </h1>
    <p>{{ recommendedUser?.bio || 'No Bio available.' }}</p>
  </div>
</div>
<!--Featured Posts from Selected Profile-->
<button mat-mini-fab class="rp-carousel-btn rp-prev" (click)="prevPost()" style="margin-right: 900px;">
  <mat-icon>arrow_circle_left</mat-icon>
</button>

<div class="rp-user-posts">
  @for (post of recentPosts; track post.postId; let i = $index) {
    <div class="carousel-slide" [ngClass]="getPostClass(i)">
      <app-recommended-post [post]="post" [authorPhotoUrl]="profileImageUrl"></app-recommended-post>
    </div>
  }
</div>

<button mat-mini-fab class="rp-carousel-btn rp-next" (click)="nextPost()" style="margin-left: 900px;">
  <mat-icon>arrow_circle_right</mat-icon>
</button>
</div>
