  .sidenav {
    position: absolute;
    left: 0;
    top: 60px;
    height: 120vh;
    width: 325px;
    display: flex;
    background-color: rgb(10, 26, 14);
    color: white;
    font-weight: 300;
    font-size: 24px;
}

  .sidenav ul{
    margin-top: 50px;
}

  .sidenav li{
    width: 250px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

  .sidenav li:last-child{
    border-bottom: none;
  }

  .sidenav li:first-child{
    border-bottom: none;
  }

  .sidenav p{
    height: 40px;
  }

  .sidenav p:hover{
    transition: 0.4s;
    background: rgb(0, 46, 0);
    padding: 8px;
    border-radius: 10px;
  }

  .sidenav a{
    text-decoration: none;
    color: white;
  }

  .sidenav img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }

  .pfp-upload{
    border-radius: 100%;
    position: absolute;
    top: 190px;
    right: 25%;
  }

  .pfp-upload button{
    background-color: green;
    height: 35px;
    width: 35px;
  }