<div class="toolbar" role="banner">
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div style="display: flex; align-items: center; left: 0;">
      <img
        src="assets/images/2CentsLogo2.png"
        alt="2Cents Logo"
        style="height: 50px; width: 50px;"
        />
      <span>2Cents</span>
    </div>
  </a>

  <a routerLink="/featured" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="onFollowingClick()">
    <div class="Following">
      <mat-icon class="icon gold">grade</mat-icon>
      Following
      @if (unseenPostsCount > 0) {
        <div class="FollowingNotification">
          {{ unseenPostsCount }}
        </div>
      }
    </div>
  </a>

  <a routerLink="/fyp" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div>
      <mat-icon class="icon red">local_fire_department</mat-icon>
      FYP
    </div>
  </a>

  <a routerLink="/collective" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div>
      <mat-icon class="icon purple">diversity_3</mat-icon>
      Collective
    </div>
  </a>

  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <div style="display: flex; flex-direction: row; align-items: center; justify-self: center; height: 100%;">
      <mat-icon class="icon cyan">search</mat-icon>
      <input type="text" placeholder="Work in progres..." style="height: 20px; width: 250px; margin-left: 10px; padding: 5px; border-radius: 10px; border: 1px solid #ccc;">
    </div>
  </a>
</div>
