  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001902;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
  .toolbar div:hover {
    transition: 0.4s;
    background: rgb(0, 53, 13);
}

  .toolbar div:last-child{
    border-right: none;
}

  .toolbar div:first-child{
    border-left: none;
}

  .toolbar img {
    margin: 0 16px;
}

  .toolbar a{
    text-decoration: none;
    color:white;
    border-right: 1px solid #ffffff;
    width: 20%;
    text-align: center;
    line-height: 60px;
  }