  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001902;
    color: white;
    font-weight: 600;
    font-size: 20px;
    z-index: 2;
  }

  .toolbar div:last-child {
    border-right: none;
  }

  .toolbar div:first-child {
    border-left: none;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar a {
    text-decoration: none;
    color: white;
    border-right: 1px solid #ffffff;
    width: 20%;
    text-align: center;
    line-height: 60px;

  }

  .toolbar a:not(:last-child):hover {
    transition: 0.4s;
    background: rgb(0, 53, 13);
}

  .toolbar a:not(:last-child):hover svg {
    animation: rotate 0.4s linear;
  }

  .toolbar a:last-child {
    cursor: default; /* Prevent cursor from changing to pointer */
  }
  
  .Following {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 5px;
  }

  .FollowingNotification {
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
  }

  @keyframes rotate { 
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
