.news-container {
    background-color: var(--surface);
    display: flex;
    flex-direction: column;
    color: var(--text);
    width: 325px;
    height: 100%;
    position: fixed;
    padding: 20px 10px 0px 10px;
    right: 0;
    top: 0;
    overflow: scroll;
    border-left: 1px solid var(--border);
  }

  .image {
    object-fit: contain;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .version {
    font-size: 18px;
    margin: 20px 10px 0 10px;
    text-align: left;
  }

  .version h1 {
    font-size: 18px;
  }

  .heading {
    margin-top: 60px;
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
  }

  .heading h1 {
    padding-top: 24px;
    font-size: 24px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(148, 163, 184, 0.28);
  }