<div class="news-container">
    <div class="heading">
      Welcome to 2Cents Development!
    </div>
    <div class="image">
        <img [src]="selectedGifUrl" alt="Random Gif" style="height: 150px; width: 150px;">
    </div>
    <div class="version">
      <b>6/10/26</b>
      <h1>
        <b>Dev 2.2.0: </b>
        <br>
         - New Site Design. We have redesigned the site to be more modern and user-friendly.
        <br>
         - Multiple bug fixes and quality of life improvements.
      </h1>
      <b>• In progress:</b> Working on notifications system for users. 
    </div>
</div>