<div class="news-container">
    <div class="heading">
      Welcome to 2Cents Development!
    </div>
    <div class="image">
        <img [src]="selectedGifUrl" alt="Random Gif" style="height: 150px; width: 150px;">
    </div>
    <div class="version">
      <b>10/17/25</b>
      <h1>
        <b>Dev 1.5.5: </b>
        <br>
         - New Following Page. We have just started on it, but you can access it while it's in development.
         It will recommend you a profile everytime you refresh or visit it.
        <br>
         - Added news column to the right of the screen. It will
         show trending posts and news in the future.
        <br>
         - Renewed the Register page to recommend a user, feature a post, and have a new bubble background effect.
        <br>
         - Mods and Admins can now ban posts.
      </h1>
      <b>• In progress:</b> Adding moderation functions.
    </div>
</div>