<div class="news-container">
    <div class="heading">
      Welcome to 2Cents Development!
    </div>
    <div class="image">
        <img [src]="selectedGifUrl" alt="Random Gif" style="height: 150px; width: 150px;">
    </div>
    <div class="version">
      <b>8/18/25</b>
      <h1>
        <b>Dev 1.5.2a: </b>
        <br>
         - New Following Page. We have just started on it, but you can access it while it's in development.
         It will recommend you a profile everytime you refresh or visit it.
        <br>
         - Added news column to the right of the screen. It will
         show trending posts and news in the future.
        <br>
         - Fixed bug on Registeration page where News Column would obstruct the page.
        <br>
         - Styling updates.
      </h1>
      <b>• In progress:</b> Adding user functionalities in side-nav.
    </div>
</div>