<div class="login">
  <ul>
    <li>
      <div class="logo-container">
        <div class="coin"></div>
        <img
          src="assets/images/2CentsLogo2.png"
          alt="2Cents logo"
          class="logo-img"
          >
      </div>
    </li>
    <li>
      Login
    </li>
    <p style="margin-top: 60px;">Email:</p>
    <li style="margin-top: 0px;">
      <form [formGroup] = "loginForm" >
        <mat-form-field>
          <input
            matInput placeholder="Enter email"
            formControlName="email">
          @if (email?.errors?.['required']) {
            <mat-error>
              Email is required
            </mat-error>
          }
          @if (email?.errors?.['email']) {
            <mat-error>
              Incorrect email format
            </mat-error>
          }
        </mat-form-field>
      </form>
    </li>
    <p style="margin-top: 20px;">Password:</p>
    <li style="margin-top: 0px;">
      <form [formGroup]= "loginForm">
        <mat-form-field>
          <input
            matInput placeholder="Password"
            formControlName="password"
            type="password">
          @if (password?.errors?.['required']) {
            <mat-error>
              Password is required
            </mat-error>
          }
        </mat-form-field>
      </form>
    </li>
    <li>
      <button (click)="submit()"
        mat-raised-button color="primary"
        type="submit"
        class="app-primary-button">
        LOGIN
      </button>
    </li>
    <p style="font-size: 18px;
    margin-left: 0px;
    margin-top: 20px;
    ">Don't have an account? 
      <a style="font-size: 20px;"routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
        Register
      </a>
    </p>
  </ul>
</div>

