  .login {
    position: fixed;
    left: 0;
    top: 60px;
    height: 120vh;
    width: 325px;
    display: flex;
    background-color: var(--surface);
    color: var(--text);
    font-weight: 400;
    font-size: 36px;
    border-right: 1px solid var(--border);
  }

  .login ul {
    margin-top: 50px;
  }

  .login li {
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .login p {
    font-size: 18px;
    margin-left: 20px;
  }

  .login mat-form-field {
    width: 100%;
  }

  .login mat-form-field input[type="text"],
  .login mat-form-field input[type="password"] {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .logo-container {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
  }

  .logo-img {
    position: relative;
    width: 200px;
    height: auto;
    z-index: 2;
    transform: scale(1.5);
  }

  .coin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background: radial-gradient(circle, #d2691e, #8b4513); 
    z-index: 1;
    animation: coin-flip 6s infinite ease-in-out;
}

@keyframes coin-flip {
  0%, 85%, 100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  90% {
    transform: translate(-50%, -50%) rotateY(1800deg);
  }
}