  .login {
    position: absolute;
    left: 0;
    top: 60px;
    height: 120vh;
    width: 325px;
    display: flex;
    background-color: rgb(10, 26, 14);
    color: white;
    font-weight: 400;
    font-size: 36px;
}

  .login ul{
    margin-top: 50px;
}

  .login li{
    width: 250px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

  .login p{
    font-size: 18px;
    margin-left: 20px;
}

