.post-menu-container {
    display: inline-block;
    background: var(--surface-2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--border);
}

.menu-list {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.menu-list button {
    width: 200px;
    color: var(--text);
    background-color: transparent;
    border-radius: 0px;
    z-index: 1;
}

.menu-list button:hover {
    background: rgba(255, 255, 255, 0.06);
}