@if (post) {
  <div class="post">
    <div class="post-content">
      <img [src]="post.photoURL ?? 'assets/images/png-transparent-default-avatar.png'" alt="Profile Picture"
        style="height: 60px;">
      <div class="item6">• {{ post.createdAt | relativeTime}}</div>
      <div class="item3">{{ post.views }} views</div>
      <a [routerLink]="['/profile', post.displayName]" style="text-decoration: none;">
        <h1>{{ post.displayName }}</h1>
      </a>
      @if (!post.imageUrl) {
        <div class="item4 body" (click)="visitPost()">
          {{ post.body }}
        </div>
      } @else {
        <div class="item4 body" (click)="visitPost()">
          {{ post.body }}
          <img [src]="post.imageUrl" alt="Post Image"
            style=
            "display: block;
            max-height: 400px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            margin: 10px auto;">
        </div>
      }
      <div class="item5">
        <button mat-mini-fab (click)="likePost()" [ngClass]="{'liked': isLiked}"
          style="margin-left: 40px;">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <div style="color: lightgreen;">
          {{ post.likeCount }}
        </div>
        <button mat-mini-fab (click)="dislikePost()" [ngClass]="{'disliked': isDisliked}">
          <mat-icon>thumb_down</mat-icon>
        </button>
        <div style="color: lightcoral;">
          {{ post.dislikeCount }}
        </div>
        <button mat-mini-fab style="background-color: gray;">
          <mat-icon>bookmark</mat-icon>
        </button>
        <div style="color: lightgoldenrodyellow">
          {{ post.bookmarkCount }}
        </div>
        <button mat-mini-fab style="background-color: gray;">
          <mat-icon>repeat</mat-icon>
        </button>
        <div style="color: lightblue">
          {{ post.repostCount }}
        </div>
        <button mat-mini-fab
          style="width: 100px; border-radius: 10px; margin-left: 180px;"
          (click)="openCommentEditor()" [ngClass]="{'commenting': isCommentEditorOpen}">
          <mat-icon>chat_bubble</mat-icon>
        </button>
        <div>
          {{ post.commentCount }}
        </div>
      </div>
    </div>
    <div class="comment-section">
      <app-comment-list [comments]="commentsList" [post]="post"></app-comment-list>
    </div>
    <div class="comment-editor" [ngClass]="{'open': isCommentEditorOpen}">
      @if (isCommentEditorOpen) {
        <app-comment-editor [postId]="post.postId"></app-comment-editor>
      }
    </div>
  </div>
}
