.post {
    width: 800px;
    background-color: rgb(10, 26, 14);
    border-radius: 20px;
    height: auto;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.item1 {
    grid-area: pfp;
}

.item2 {
    grid-area: username;
}

.item3 {
    grid-area: views;
    color: white;
    margin-top: 40px;
    font-size: 18px;
}

.item4 {
    grid-area: body;
}

.item5 {
    grid-area: footer;
    display: flex;
    margin-top: 5px;
    z-index: 0;
}

.item5 button {
    background-color: green;
    margin-left: 20px;
}

.item5 button.liked {
    background-color: white;
    color: green;
}

.item5 button.disliked {
    background-color: white;
    color: green;
}

.item5 div{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 12px;
    color: white;
}

.item6 {
    grid-area: timestamp;
    color: gray;
    margin-top: 45px;
}

.item7 {
    grid-area: header;
}

.post-content {
    display: grid;
    grid-template-areas:
        'pfp username timestamp header header views'
        'body body body body body body'
        'footer footer footer footer footer footer';
    gap: 20px;
    width: 100%;
    justify-content: left;
}

.post-content img {
    width: 60px;
    height: 60px;
    margin-right: auto;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    outline-style: solid;
    outline-color: green;
    outline-width: 2px;
}

.post-content h1 {
    font-size: 24px;
    color: white;
    text-align: left;
    justify-content: center;
    grid-column-start: 2;
    margin-top: 35px;
}

.post-content p {
    font-size: 18px;
    color: white;
    display: flex;
}

.body {
    font-size: 24px;
    line-height: normal;
    width: 700px;
    color: white;
    margin-left: 50px;
}