<div class="post" *ngIf="post">
    <div class="post-content">
        <img [src]="post.photoURL ?? 'assets/images/png-transparent-default-avatar.png'" alt="Profile Picture">
        <div class="item6">• {{ post.createdAt | relativeTime}}</div>
        <div class="item3">{{ post.views }} views</div>
        <h1>{{ post.displayName }}</h1>
        <div class="item4 body">
            {{ post.body }}
        </div>
        <div class="item5">
            <button mat-mini-fab (click)="likePost()" [ngClass]="{'liked': isLiked}">
                <mat-icon>thumb_up</mat-icon>
            </button>
                <div style="color: lightgreen;">
                    {{ post.likeCount }}
                </div>
            <button mat-mini-fab (click)="dislikePost()" [ngClass]="{'disliked': isDisliked}">
                <mat-icon>thumb_down</mat-icon>
            </button>
                <div style="color: lightcoral;">
                    {{ post.dislikeCount }}
                </div>
            <button mat-mini-fab>
                <mat-icon>bookmark</mat-icon>
            </button>
            <button mat-mini-fab>
                <mat-icon>repeat</mat-icon>
            </button>
        </div>
    </div>
</div>