<div class="modal-overlay">
  <div class="modal">
    @if (user$ | async; as user) {
      <div class="modal-content">
        <div class="edit-pfp-and-username">
          <h2>Profile Picture:</h2>
          <img
            [src]="(pfpPreviewUrl ?? user.photoURL) ?? 'assets/images/png-transparent-default-avatar.png'"
            alt="Profile Picture"
            />
            <div class="post-button">
            <button mat-fab mini style=
              "position: absolute;
              margin-top: 70px;
              margin-left: 150px;"
              (click)="fileInput.click()">
              <mat-icon>camera_alt</mat-icon>
            </button>
            <input type="file"
              #fileInput
              accept=".png, .jpg, .jpeg"
              (change)="onPfpFileSelected($event)"
              style="display: none;">
            </div>
              <h2 style="margin-top: 150px;">
                Username:
                <br> &#64;{{ user.displayName }}
                </h2>
              </div>
              <div class="edit-profile-page">
                <h2>Background Image:</h2>
                <div class="background-image">
                  @if (!hasBackgroundImage && !backgroundPreviewUrl) {
                    <div class="background-image__placeholder"></div>
                  }
                  @if (hasBackgroundImage || backgroundPreviewUrl) {
                    <img [src]="backgroundPreviewUrl ?? user.backgroundImageURL" alt="User Background" class="background-image__img">
                  }
                </div>
                <input type="file" accept=".jpg, .jpeg, .png" style="display: none" #backgroundInput (change)="onBackgroundFileSelected($event)">
                <a class="upload-link" (click)="backgroundInput.click()">
                  Upload Background
                </a>
                <h2 style="margin-top: 20px;">Bio:</h2>
                <textarea
                  matInput [ngModel]="bioText"
                  (ngModelChange)="updateBioText($event)"
                  maxlength="400"
                  (input)="updateCharacterCount()"
                  placeholder="Type your bio here.">
                </textarea>
                <h3>{{ characterCount }} / 400</h3>
                <div class="post-button">
                <button mat-fab extended (click)="saveProfile(user)">
                  <mat-icon>save</mat-icon>
                  Save
                </button>
                </div>
              </div>
              <div class="post-button close-button">
              <button mat-mini-fab (click)="onClose()">
                <mat-icon>close</mat-icon>
              </button>
              </div>
            </div>
          }
        </div>
      </div>