<div class="heading-container">
  <div class="heading">
    Following Page
  </div>
  <div class="subheading">
    <h1>
      Updates and most recent posts of those you follow.
    </h1>
    Not following anyone yet? Check out some of our recommended profiles!
  </div>
</div>
@if (followedPosts.length > 0) {
  <div>
    <app-following-posts [posts]="followedPosts"></app-following-posts>
  </div>
}

@if (followedPosts.length === 0 && recommendedProfiles.length > 0) {
  <div>
    @for (profile of recommendedProfiles; track profile) {
      <app-recommended-profile [user]="profile"></app-recommended-profile>
    }
  </div>
}

@if (isLoadingPosts) {
  <div class="loading-spinner"></div>
}
@if (isLoadingPosts) {
  <div class="loading-posts">
    Loading Posts...
  </div>
}