  .version {
    font-size: 24px;
    line-height: normal;
    margin-bottom: 60px;
    margin-top: 20px;
    margin-left: 380px;
  }

  .version h1 {
    font-size: 24px;
    font-weight: bold;
  }

  .heading {
    font-size: 56px;
    font-weight: bold;
    line-height: normal;
    margin-top: 120px;
    text-align: center;
  }

  .heading h1 {
    padding-top: 24px;
    font-size: 24px;
  }

  .loading-posts {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 32px;
  }

  .loading-spinner {
    border: 6px solid limegreen;
    border-radius: 50%;
    border-top: 6px solid darkgreen;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);}
  }