<div class="heading">
  Welcome to Chime-in Pre-Dev!
  <h1>• In Progress: Dislike button functionality.</h1>
</div>
<div class="version">
  Pre-Dev Version 3.7.2a
  <h1>
    8/13/24
    <br>
    - New Posting feature: Users can now create and upload text posts.
    <br>
    - New Like feature: Users can now submit a like to a post they enjoy.
    <br>
    - Users can now unlike a post after liking it.
    <br>
    - WARNING: We are aware of an issue that breaks the site every time we make an update. 
    Clear cache and refresh the site to have the site appear again. We are working on a fix for this ASAP.
  </h1>
</div>

<!-- <app-post [post]="mostRecentPost"></app-post> -->
<div *ngIf="mostRecentPosts.length > 0">
  <app-home-posts [posts]="mostRecentPosts"></app-home-posts>
</div>