<div class="news-container">
  <div class="heading">
    Welcome to Chime-in Development!
  </div>
  <div class="version">
    <h1>11/11/24</h1>
    <h1>
      Dev 1.1.0: 
      <br>
       - New Following Page. We have just started on it, but you can access it while it's in development.
       It will recommend you a profile everytime you refresh or visit it.
      <br>
       - New User Recommendation. When a user is recommended to you, 
       it will feature 3 of their posts and some of their profile info.
    </h1>
    • In progress: Adding the Following Page to show all posts and updates of users you follow.
  </div>
</div>


<div *ngIf="mostRecentPosts.length > 0">
  <app-home-posts [posts]="mostRecentPosts"></app-home-posts>
</div>
<div class="loading-spinner" *ngIf="isLoadingPosts"></div>
<div class="loading-posts" *ngIf="isLoadingPosts">
  Loading Posts...
</div>