<div class="comment-list">
  <div class="scrollable-comments" [ngClass]="{ 'open': isCommentSectionOpen }">
    <!--Top Comment-->
    @if (topComment) {
      <div class="top-comment-block">
        <div class="topCommentText">
          Top Comment:
        </div>
        <app-comment [comment]="topComment" [postId]="post!.postId"></app-comment>
      </div>
    }
    <!--Comment Section-->
    @if (isCommentSectionOpen) {
      <div style="margin-top: 20px;">
        @for (comment of comments; track trackByCommentId($index, comment)) {
          <app-comment
            [comment]="comment"
            [postId]="post!.postId">
          </app-comment>
        }
      </div>
    }
  </div>
  <!--View / Hide all comments button-->
  <!--
  Note: CSS for this class is not implenting itself correctly.
  Doing forced styling in the mean time.
  -->
  @if (comments.length > 0) {
    <div class="viewAllCommentsButton">
      <button mat-button (click)="toggleCommentSection()">
        {{ isCommentSectionOpen ? ('Hide Comments') : ('View More Comments') }}
      </button>
    </div>
  }
</div>