<div>
  <img
    src="assets/images/chimeinlogo.png"
    alt="chime-in logo"
    style="
      height: 500px;
      width: 500px;
      margin-top: 10%;
      margin-left: 15%;"
  >

  <div class="register">
    <ul>
      <li>
        <img
          src="assets/images/chimeinlogo.png"
          alt="chime-in logo"
          style="height: 100px; width: 100px"
        >
      </li>
      <li>
        Join Chime-in today
      </li>
        <p style="margin-top: 40px;">Username:</p>
      <li>
        <form>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input 
              [(ngModel)]="username" 
              [ngModelOptions]="{standalone: true}"
              type="text"
              matInput placeholder="Enter username">
          </mat-form-field>
        </form>
      </li>
        <p>Email:</p>
      <li>
        <form>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input 
              [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}"
              type="email" 
              matInput placeholder="abc123@gmail.com">
          </mat-form-field>
        </form>
      </li>
        <p>Password:</p>
      <li>
        <form>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input 
              [(ngModel)]="password" 
              [ngModelOptions]="{standalone: true}"
              type="password" 
              matInput placeholder="********">
          </mat-form-field>
        </form>
      </li>
        <p>Confirm password%:</p>
      <li>
        <form>
          <mat-form-field>
            <mat-label>Confirm password</mat-label>
            <input 
            type="password" 
            matInput placeholder="********">
          </mat-form-field>
        </form>
      </li>
      <li>
        <button (click)="register()" mat-raised-button color="primary" style="
          width: 200px;
          height: 40px;
          background-color: green;
          font-size: 18px;
        ">
          REGISTER
        </button>
      </li>
    </ul>
  </div>
  <p style="
  margin-left: 300px;
  margin-top: 50px;
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  color: black;">Watch, laugh, Chime-in.</p>
</div>
