.comment-container {
    border-top: solid 1px white;
    padding-bottom: 20px;
    display: grid;
    justify-content: left;
    position: relative;
    grid-template-areas: 
        'pfp username username timestamp timestamp header header buttons'
        'body body body body body body body buttons';
    gap: 10px;
    width: 100%;
    height: auto;
  }
  
  .comment-container img {
    grid-area: pfp;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
    object-fit: cover;
    object-position: center;
    outline-style: solid;
    outline-color: green;
    outline-width: 2px;
  }

  .comment-name {
    grid-area: username;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 18px;
    margin-left: 18px;
  }

  .time-stamp {
    grid-area: timestamp;
    font-size: 12px;
    width: 150px;
    color: gray;
    display: flex;
    position: absolute;
    text-align: left;
    margin-top: 20px;
  }

  .comment-body {
    grid-area: body;
    font-size: 16px;
    color: white;
    margin-left: 100px;
    width: 360px;
  } 

  .comment-buttons {
    grid-area: buttons;
    display: flex;
    margin-top: 35px;
  }

  .comment-buttons button{
    background-color: green;
    transform: scale(0.7);
  }

  .comment-buttons button.liked {
    background-color: white;
    color: green;
  }

  .comment-buttons button.disliked {
    background-color: white;
    color: green;
  }

  .comment-buttons div {
    font-size: 16px;
    padding-top: 10px;
  }