.comment-container {
    border-top: solid 1px white;
    padding-bottom: 20px;
    display: grid;
    justify-content: left;
    position: relative;
    grid-template-areas: 
        'pfp username timestamp header header header header buttons'
        'body body body body body body body buttons';
    gap: 10px;
    width: 100%;
    height: auto;
  }
  
  .comment-container img {
    grid-area: pfp;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 25px;
    position: absolute;
    object-fit: cover;
    object-position: center;
    outline-style: solid;
    outline-color: green;
    outline-width: 2px;
  }

  .comment-name {
    grid-area: username;
    font-size: 18px;
    color: white;
    text-align: left;
    margin-top: 18px;
    grid-column-start: 2;
  }

  .time-stamp {
    grid-area: timestamp;
    font-size: 12px;
    color: gray;
    display: flex;
    text-align: left;
    margin-top: 20px;
  }

  .comment-body {
    grid-area: body;
    font-size: 18px;
    color: white;
    margin-left: 100px;
    width: 525px;
  } 

  .comment-buttons {
    grid-area: buttons;
    position: absolute;
    margin-left: auto;
    margin-top: 35px;
    display: flex;
    justify-content: right;
  }

  .comment-buttons button{
    margin-right: 10px;
    background-color: green;
    transform: scale(0.8);
  }

  .comment-buttons button.liked {
    background-color: white;
    color: green;
  }

  .comment-buttons button.disliked {
    background-color: white;
    color: green;
  }


  .comment-buttons div {
    margin-right: 10px;
    font-size: 18px;
    padding-top: 10px;
  }